<form style="padding: 0px;" method="post" layout="column">

  <md-input-container>
    <label>Benutzername</label>
    <md-icon md-svg-src="images/icons/ic_person_blue_24px.svg" class="email"></md-icon>
    <input type="text" required name="benutzername">
  </md-input-container>

  <md-input-container>
    <label>Passwort</label>
    <md-icon md-svg-src="images/icons/ic_lock_black_24px.svg"></md-icon>
    <input id="passwort" type="password" required name="passwort">
  </md-input-container>

  <div align="center">
    <md-button style="width:80%;" type="submit" class="md-raised md-primary">anmelden</md-button>
  </div>
</form>