<form ng-hide="$ctrl.loggedIn" style="padding: 20px;" method="post" layout="column">

  <span style="color:red;" ng-hide="$ctrl.error">Falsches Login</span>
  <md-input-container>
    <label>Benutzername</label>
    <md-icon md-svg-src="images/icons/ic_person_blue_24px.svg" class="email"></md-icon>
    <input type="text" required ng-model="$ctrl.benutzername" name="benutzername">
  </md-input-container>

  <md-input-container>
    <label>Passwort</label>
    <md-icon md-svg-src="images/icons/ic_lock_black_24px.svg"></md-icon>
    <input id="passwort" type="password" ng-model="$ctrl.passwort" required name="passwort">
  </md-input-container>

  <div align="center">
    <md-button style="width:80%;" type="submit" ng-click="$ctrl.starteAnmeldung()" class="md-raised md-primary">anmelden</md-button>
  </div>
</form>
<div ng-show="$ctrl.loggedIn" layout="column" layout-align="center center">
  <md-button style="width:80%;" ng-click="$ctrl.abmelden()" class="md-raised md-primary">Abmelden</md-button>
</div>