<div style="display: flex;
      		justify-content: center;
      		flex-direction: column;">
	<bewerten-feld slider="md-warn"  ausgang="$ctrl.Kategorien.schnitt=wert;" 	 img="images/bewertung/schnitt.png"    	text="Schnitt"></bewerten-feld>
	<bewerten-feld slider="md-warn"  ausgang="$ctrl.Kategorien.kamera=wert;" 	 img="images/bewertung/kamera.jpg" 	   	text="Kamera"></bewerten-feld>
	<bewerten-feld slider="md-warn"  ausgang="$ctrl.Kategorien.darsteller=wert;" img="images/bewertung/darsteller.jpg" 	text="Darsteller"></bewerten-feld>
	<bewerten-feld slider="md-warn"  ausgang="$ctrl.Kategorien.story=wert;" 	 img="images/bewertung/story.jpg" 		text="Storyboard"></bewerten-feld>
	<bewerten-feld slider="md-warn"  ausgang="$ctrl.Kategorien.effekte=wert;" 	 img="images/bewertung/effekte.jpg" 	text="Effekte"></bewerten-feld>
	<bewerten-feld slider="md-warn"  ausgang="$ctrl.Kategorien.audio=wert;" 	 img="images/bewertung/audio.jpg" 		text="Ton"></bewerten-feld>
	<bewerten-feld slider="md-warn"  ausgang="$ctrl.Kategorien.genre=wert;" 	 img="images/bewertung/genre.jpg" 		text="Passendes Genre"></bewerten-feld>
	<md-button class="md-warn md-raised" ng-click="$ctrl.bewertungSenden()">Bewertung erstellen</md-button>
</div>