<div style="display: flex;
      		justify-content: center;
      		flex-direction: column;">
	<bewerten-feld name="grafik"	 slider="md-primary" ausgang="$ctrl.Kategorien.grafik=wert;" 		img="images/bewertung/grafik.jpg" 		text="Grafik"></bewerten-feld>
	<bewerten-feld name="gameplay"	 slider="md-primary" ausgang="$ctrl.Kategorien.gameplay=wert;" 		img="images/bewertung/gameplay.jpg" 	text="Gameplay"></bewerten-feld>
	<bewerten-feld name="audio"		 slider="md-primary" ausgang="$ctrl.Kategorien.audio=wert;"		 	img="images/bewertung/audio.jpg" 		text="Audio"></bewerten-feld>
	<bewerten-feld name="steuerung"  slider="md-primary" ausgang="$ctrl.Kategorien.steuerung=wert;"	 	img="images/bewertung/steuerung.png"	text="Steuerung"></bewerten-feld>
	<bewerten-feld name="charaktere" slider="md-primary" ausgang="$ctrl.Kategorien.charaktere=wert;"	img="images/bewertung/charaktere.jpg" 	text="Charaktere"></bewerten-feld>
	<bewerten-feld name="story" 	 slider="md-primary" ausgang="$ctrl.Kategorien.story=wert;" 		img="images/bewertung/story.jpg" 		text="Story"></bewerten-feld>
	<span ng-show="$ctrl.error" style="color:red;">Sie sind nicht eingeloggt!</span>
	<md-button style="margin: 25px;" class="md-primary md-raised" ng-click="$ctrl.bewertungSenden()">Bewertung erstellen</md-button>
</div>
