<section layout="column" flex="100" style="font-size: calc(10px + 1vw)">
    <md-card layout="row" ng-repeat="d in $ctrl.result" layout-align="center center" style="padding:2%; min-width: 300px;">
        <div layout="column" flex="100">
            <div flex="100" ng-repeat="x in d" layout="row">
                <div flex="80" layout-align="end">
                {{x['cat_name'].charAt(0).toUpperCase()+x['cat_name'].substring(1)}}
                </div>
                <div flex="20">
                {{x['durchschnittsbew']}}/10
                </div>
            </div>
        </div>
    </md-card>
</section>