<div>
	<md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{ $ctrl.text }}</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content layout="row" layout-align="space-between">
			<img src="{{ $ctrl.img }}">
		</md-card-content>
	</md-card>
</div>

<md-slider-container>
	<md-input-container>
		<input flex type="number" min="1" max="10" ng-change="$ctrl.wertVeraendert()" ng-model="$ctrl.wert">
	</md-input-container>
	<md-slider flex ng-class="$ctrl.slider" md-discrete ng-change="$ctrl.wertVeraendert()" ng-model="$ctrl.wert" step="1" min="1" max="10">
	</md-slider>
</md-slider-container>