<form style="padding: 20px;" method="post" layout="column">
  <h1 style="margin-bottom: 10%; margin-left: auto; margin-right: auto;">Create Account</h1>
  <md-input-container>
    <!--<i class="material-icons">account_box</i>-->
    <label>Benutzername</label>
    <input type="text" required name="benutzername">
  </md-input-container>

  <md-input-container>
    <label>Email</label>
    <input type="email" required name="email">
    <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
  </md-input-container>

  <md-input-container>
    <label>Passwort</label>
    <!--<i class="material-icons">lock</i>-->
    <input id="passwort" type="password" required name="passwort">
  </md-input-container>

  <md-input-container>
    <label>Passwort bestätigen</label>
    <!--<i class="material-icons">lock</i>-->
    <input id="passwort2" type="password" required name="passwortBestaetigen">
  </md-input-container>
  <section class="errorSection" hidden style="background-color: rgba(195, 47, 45, .15); color: #c32f2d; padding: 15px;">
    <span class="errorMsg" hidden>Das Passwort muss das gleiche sein!</span>
  </section>

  <div align="center">
    <h5 align="center">By registering you agree to the Terms & Conditions</h5>

    <md-button style="width:80%;" type="submit" class="md-raised md-primary">Registrierung abschließen</md-button>
  </div>
</form>

