
<style>
    md-card{
        width:200px;
        height:570px;
    }
</style>


<md-card>
    <img src="{{$ctrl.image}}" class="md-card-image"
         alt="">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline" ng-bind="$ctrl.name"></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>{{$ctrl.description}}</p>
    </md-card-content>

    <md-card-actions layout="column" layout-align="start">
        <md-button href="serie-kommentar.php?id={{$ctrl.id}}">Kommentieren</md-button>
        <md-button href="serie-bewerten.php?id={{$ctrl.id}}">Bewerten</md-button>
    </md-card-actions>
</md-card>