<div>
	<div style="display: block;">
		<form>

			<div layout="row" layout-align="center center">

				<div style="
					border: 1px solid rgba(0, 0, 0, 0.15);
					box-shadow: 0 1px 4px 0 rgba(240, 240, 240, 0.1);
					height: 38px;
					border-radius: 2px 0 0 2px;
					;
					">


				<input type="search" ng-model="$ctrl.suche" class="input-medium search-query" style="
					-webkit-appearance: none;
					-webkit-font-smoothing: antialiased;
					background-color: white;
					border: none;
					box-shadow: none;
					font-family: 'Roboto', 'Noto', sans-serif;
					font-size: 20px;
					font-weight: 400;
					line-height: 24px;
					margin-left: 4px;
					margin-right: 4px;
					padding-left: 2px;
					min-height: 100%;
					outline: none;
					width: 20vw;
					text-align: inherit;
					color: black;"
					   placeholder="Suche ...">


				</div>

				<md-button type="submit" class=" md-raised {{$ctrl.typ === 'game' ? 'md-primary': 'md-warn'}}" ng-click="$ctrl.sucheInAction()"><md-icon md-svg-src="images/icons/ic_search_white_24px.svg" flex="90"></md-icon></md-button><br/>
			</div>
		</form>
	</div>

	<!--   TO CHANGE   -->
	<!--<div layout-align="center" layout="row" style="display: inline-block; width: calc(33% - 20px); min-width: 150px; padding: 0 10px 0 10px; font-size: calc(12px + 1vw); text-align: center;" ng-repeat="x in $ctrl.games" ng-show="$ctrl.typ === 'game'">
		<md-card style="padding: 5%">
			<img ng-src="http://cdn.edgecast.steamstatic.com/steam/apps/{{x['G_ID']}}/header.jpg" onerror="this.src='https://www.indiegala.com/img/trades/img_not_available.png'">
			<span ng-bind="x['G_Name']"></span>

		</md-card>
	</div>

	<serien-card ng-repeat="x in $ctrl.series" name="x['S_Name']" id="x['S_ID']" image="x['S_Images']"></serien-card>-->

	<!--   TO CHANGE   -->
</div>

















