#topNavBar{
padding-left: 0px;

}


#topNavBar  .md-button{
    margin: 0px;
    padding: 0px 0px 0px 8px;
    color: antiquewhite;
}

.topNavBarDiv {
    padding-top: 24px;
}
.sideNav {
    width: 100%;
    max-width: 100%;
    margin:0px;
}

.sideNavToolBar {
    height : 80px;
}

#topToolBar {
    height:80px;
}

#startTopToolBar {
    height : 80px;
    background-image:linear-gradient(90deg, #358ee2 38%, #c82028 62%)
}


.sideNav .md-button{
    text-align:left;
    margin: 0px;
    padding: 0px 0px 0px 8px;
    color: white;
}

.sideNav md-content {
    background-color: black;
}

.sideNav h3 {
    margin-bottom: 7px;
    color:lightgrey;
}

#topToolBar span {
    margin-left: auto;
}


body > md-content > div > md-sidenav > md-toolbar > img {
    margin-left: 10px;
    max-height: 45px;
}

body > md-content > div > md-sidenav > md-toolbar {
    padding: 0px 10px 0px 10px;
}

#startSeriesField {

     background-color: #c82028;
    color:white;
 }

#startGameField {

    background-color: #358ee2;
    color:white;
}

#sideNavButton {
    margin-top:auto;
}


.startCardImage{

}

#loginField{

}

#topToolBar h2, #startTopToolBar h2 {
    height:30px;
    margin-top:10px;
    //padding-left: 30px;
}

.topNavBarProfileButton {
    margin-left: auto;
}

body > div > div {
    background-color: #358ee2;
}

#contentDiv {
    padding: 10px 10px 10px 10px;
}